body{
    background-image:url(..//img/background.jpeg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    position: relative;
    margin: 0;
    padding-top: 5%;
    margin-bottom: 5%;

}
.con_2{
    text-align: center;
    border: 2px solid rgb(73, 133, 245);
    width: 40%;
    height: 100vh;
    margin: auto; 
    border-radius: 5%;
    background-color: rgb(233, 227, 227);
    padding-top: 2%;
    padding-bottom: 5%;

}
.form2{
    padding: 10%;
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;   
    border:2px solid rgb(73, 133, 245) ;
}
input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;   
    border:2px solid rgb(73, 133, 245) ;
}
form, label{
    text-align: left;
    font-size: x-large;
}
button[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: large;
    box-sizing: border-box;
    border-radius: 20px;   
    background-color: rgb(87, 214, 87);
}
a, #signin{
    float: left; 
    margin-left: 10%; 
    font-size: large; 
}
a, #fgotpass{
    float: right;
    margin-right: 10%;  
    font-size: large; 
}
